body {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.btn {
    margin: 5px;
}

i.prefix {
    padding-top: 5px;
}

.btn-login-signin {
    position: absolute;
    top: calc(100vh - 200px);
    width: 100%;
    z-index: 1;
}