body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.page {
    flex: 1 0 auto;
    position: relative;
}

.valign {
    position: absolute!important;
    top: 50%!important;
    transform: translateY(-50%)!important;
}

.page-footer {
    padding-top: 0;
}

nav, footer {
    background: rgba(0, 150, 136, 0.63) !important;
}

